/*---Tools---*/
.section-base{
    padding-top: 3%;
    padding-bottom: 3%;
}

.titles{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding:5px;
}

#btn-active{
    font-weight: bold;
    text-decoration: underline;
}

/*---reset & font---*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    color: #333;
}

/*---General---*/
body {
    background-color: whitesmoke;
}

main{
    padding: 0% 8% 0% 8%;
    height: 125vh;
}

p{
    padding-bottom: 2%;
}

header{
    height: 8rem;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    padding: 2% 0% 2% 0%;
    display: flex;
    justify-content: end;
    
}

nav a{
    color: whitesmoke;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    text-align: center;
}

.logo-container img{
    height: 100px;
}

.logo-container{
    display: flex;
    padding: 0% 2% 0% 2%;
}

.logo-container h1{
    padding-top: 5%;
}

.section-container{
    display: flex;
    width: 100%;
}

.container{
    text-align: justify;
    padding-left: 5%;
    padding-top: 2%;
}

.container article p{
    margin-left: 30px;
}

.contact-game{
    display: flex;
    justify-content: space-evenly;
    
}

.footer-container{
    background-color: #333;
    text-align: center;
    width: 100%;
}

.footer-container p{
    color: whitesmoke;
    padding: 1%;
    font-size: small;
}

.MDHL-font{
    font-family: 'Anton', sans-serif;
    color: #f8e12e;
    -webkit-text-stroke: 0.1px rgb(212, 106, 6); 
    text-transform: uppercase;
}

.letsgo{
    font-size: 3em;
    text-align: center;
}

/*----Image-cards----*/
.container-gallery{
    display: flex;
    height: 300px;
    align-items: center;
}

.image-container{
    display: flex;
    justify-content: space-evenly;
}

.image-container img{
    max-width: 20%;
    align-items: center;
    padding: 0% 2% 0% 2%;
    transition: all 1s;
    position: relative;
    
}

.image-container img:hover{
    transform: scale(2.1);
}

/*----Lists-----*/

article ul{
    list-style-type: none;
}

.list-rules{
    list-style-type: lower-alpha;
    padding-left: 10%;
}

/*----Tables----*/

table{
    width: 100%;
    overflow-x:auto;
    border-spacing: 0;
}

#table-container{
    margin: auto;
}

.line-1{
    background-color: rgb(189, 189, 189);
}
th{
    padding: 1%;
}

thead, tbody, tfoot{
    text-align: center;
}

#tfoot-games-table{
    font-style: italic;
    text-decoration: underline;
    font-weight: lighter;
}